@import "./variables.scss";

.App {
  text-align: center;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-switcher {
  margin-top: 50px;

  button {
    font-size: $textSmaller;
    background-color: lightcyan;
    margin: 0.25rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
