@import "./variables.scss";

.App {
  text-align: center;
}

.App-switcher {
  margin-top: 10px;

  button {
    width: 200px;
    height: 40px;
    font-size: $textRegular;
    background-color: lightgrey;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
